<HTML>
<HEAD><TITLE>Research</TITLE>
<SCRIPT LANGUAGE="JavaScript" >
function miniwinpopup(x, y, myurl, targetstring){
                   if (navigator.appName == "Netscape"){
                                  if ((navigator.appVersion.substring(0, 3) == "3.0")
                                || (navigator.appVersion.substring(0, 3) == "4.0")) {
                                                window1 = window.open(myurl, targetstring,
                                                "width="+x+",height="+y+",resizable=1,status=1,menubar=0,scrollbars=1");
                                                window1.focus();
                                  }
                                  else {  // Netscape 2
                                                window.open(myurl, targetstring,
                                                                "width="+x+",height="+y+",resizable=1,status=1,menubar=0,scrollbars=1");
                                  }
                   }
                   else { // MSIE (?)
                                   window1 = window.open(myurl, targetstring,
                                                "width="+x+",height="+y+",resizable=1,status=1,menubar=0,scrollbars=1");
                   }
}
</SCRIPT>
</HEAD>
<BODY BGCOLOR="#FFFFFF">
<!-- MASTHEAD --><IMG SRC="http://www.research.ibm.com/images/masthead.gif" WIDTH=600 HEIGHT=32 HSPACE=0 VSPACE=0 BORDER=0
ALIGN="top" ALT="[ IBM Research ]">
<!-- IBM TOP NAV --><TABLE WIDTH=600 HEIGHT=19 BORDER="0" CELLPADDING=0 CELLSPACING=0 VALIGN="BOTTOM">
        <TR HEIGHT=19><TD COLSPAN=1>
        <A HREF="http://www.ibm.com/Help/" TARGET="BABY" onMouseOver="self.status='Find'; return true" onClick='miniwinpopup(311,495, "http://www.ibm.com/Help/", "BABY"); return false;'>
                <IMG SRC="http://www.ibm.com/i/v8/b/fi.gif" BORDER="0" ALT="[ Find ]" WIDTH="89" HEIGHT="19" HSPACE="0" VSPACE="0" ALIGN="LEFT"></A>
        <A HREF="http://www.ibm.com/News/" onMouseOver="self.status='News' ;return true">
                <IMG SRC="http://www.ibm.com/i/v8/b/ne.gif" BORDER="0" ALT="[ News ]" WIDTH="54" HEIGHT="19" HSPACE="0" VSPACE="0" ALIGN="LEFT"></A>
        <A HREF="http://www.ibm.com/Products/" onMouseOver="self.status='Products' ;return true">
                <IMG SRC="http://www.ibm.com/i/v8/b/pro.gif" BORDER="0" ALT="[ Products ]" WIDTH="74" HEIGHT="19" HSPACE="0" VSPACE="0" ALIGN="LEFT"></A>
        <A HREF="http://www.ibm.com/Support/" onMouseOver="self.status='Support' ;return true">
                <IMG SRC="http://www.ibm.com/i/v8/b/su.gif" BORDER="0" ALT="[ Support ]" WIDTH="69" HEIGHT="19" HSPACE="0" VSPACE="0" ALIGN="LEFT"></A>
        <A HREF="http://www.ibm.com/Solutions/" onMouseOver="self.status='Business solutions' ;return true">
                <IMG SRC="http://www.ibm.com/i/v8/b/so.gif" BORDER="0" ALT="[ Business solutions ]" WIDTH="124" HEIGHT="19" HSPACE="0" VSPACE="0" ALIGN="LEFT"></A>
        <A HREF="http://www.ibm.com/IBM/" onMouseOver="self.status='Inside IBM' ;return true">
                <IMG SRC="http://www.ibm.com/i/v8/b/ins_h.gif" BORDER="0" ALT="[ Inside IBM ]" WIDTH="83" HEIGHT="19" HSPACE="0" VSPACE="0" ALIGN="LEFT"></A>
        <A HREF="http://www.ibm.com/Interest/" onMouseOver="self.status='Interest groups' ;return true">
                <IMG SRC="http://www.ibm.com/i/v8/b/int.gif" BORDER="0" ALT="[ Interest groups ]" WIDTH="107" HEIGHT="19" HSPACE="0" VSPACE="0" ALIGN="LEFT"></A>
        </TD></TR>
        <TR><TD WIDTH=600 BGCOLOR="#000000"><IMG SRC="/images/clear.gif" BORDER="0" WIDTH="600" HEIGHT="9" HSPACE="0" VSPACE="0" VALIGN="top"></TD></TR>
</TABLE>
<!--end of IBM TOP NAV-->
<TABLE WIDTH=600><TR><TD>

Enter Text here for your web site, the table tags are required to preserve the 600 width limit

</TD></tr>
</TABLE>
<!--IBM BOTTOM NAV-->
<IMG SRC="http://www.research.ibm.com/images/footer.gif" WIDTH="600" HEIGHT="17" BORDER="0" VSPACE="0"
HSPACE="0" ALT="" USEMAP="#footer"> <MAP NAME="footer"> <AREA SHAPE="rect"
COORDS="482,0,641,60" HREF="http://www.ibm.com/Assist"
onMouseOver="self.status='Contact IBM' ;return true"> <AREA SHAPE="rect"
COORDS="406,0,482,31" HREF="http://www.ibm.com/Legal"
onMouseOver="self.status='Legal' ;return true"> <AREA SHAPE="rect"
COORDS="322,0,406,28" HREF="http://www.ibm.com/Privacy"
onMouseOver="self.status='Privacy' ;return true"> <AREA SHAPE="rect"
COORDS="235,0,321,26" HREF="http://www.ibm.com/Orders"
onMouseOver="self.status='Order' ;return true"> <AREA SHAPE="rect"
COORDS="130,0,235,28" HREF="http://www.ibm.com/" onMouseOver="self.status='IBM home' ;return true">
<AREA SHAPE="rect" COORDS="0,0,129,44" HREF="http://www.research.ibm.com/"
onMouseOver="self.status='Research home' ;return true"></MAP>
<!--end IBM BOTTOM NAV-->
<!--the following ids the old nav bar before editing
IBM BOTTOM NAV
<TABLE WIDTH=600 HEIGHT=17 BORDER="0" CELLPADDING=0
CELLSPACING=0 VALIGN="TOP"><TR HEIGHT=17><TD VALIGN="TOP" ALIGN="LEFT"><A
HREF="http://www.ibm.com/" onMouseOver="self.status='IBM home' ;return true"><IMG
SRC="http://www.ibm.com/i/v8/b/ho.gif" BORDER="0" ALT="[ IBM home ]" ALIGN="LEFT" WIDTH="115" HEIGHT="17" VALIGN=top HSPACE="0" VSPACE="0"></A><A
HREF="http://www.ibm.com/Orders" onMouseOver="self.status='Order' ;return true"><IMG
SRC="http://www.ibm.com/i/v8/b/or.gif" BORDER="0" ALT="[ Order ]" ALIGN="LEFT" WIDTH="105" HEIGHT="17" HSPACE="0" VSPACE="0" HSPACE="0" VSPACE="0"></A><A
HREF="http://www.ibm.com/Privacy" onMouseOver="self.status='Privacy' ;return true"><IMG
SRC="http://www.ibm.com/i/v8/b/pri.gif" BORDER="0" ALT="[ Privacy ]" ALIGN="LEFT" WIDTH="117" HEIGHT="17" HSPACE="0" VSPACE="0"></A><A
HREF="http://www.ibm.com/Legal" onMouseOver="self.status='Legal' ;return true"><IMG
SRC="http://www.ibm.com/i/v8/b/le.gif" BORDER="0" ALT="[ Legal ]" ALIGN="LEFT" WIDTH="112" HEIGHT="17" HSPACE="0" VSPACE="0"></A><A
HREF="http://www.ibm.com/Assist" onMouseOver="self.status='Contact IBM' ;return true"><IMG
SRC="http://www.ibm.com/i/v8/b/co.gif" BORDER="0" ALT="[ Contact IBM ]" ALIGN="LEFT" WIDTH="151" HEIGHT="17" HSPACE="0" VSPACE="0"></A>
</TD></TR></TABLE>
end IBM BOTTOM NAV-->
</BODY>
</HTML>
